li {
  display: flex;
  direction: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.listItemInActive{
  color: #222;
  opacity: 0.5;
}

.listItemContent{
  display: flex;
  direction: row;
}

.avatar {
  margin-right: 32px;
}

.content {
  height: 80px;
}

.title {
  font-size: 16px;
}

.subtitle {
  font-size: 14px;
  color: #aaa;
  font-weight: lighter;
}

.itemSpacer{
  display: flex;
  direction: row nowrap;
  justify-items: space-evenly;
  color:red;
}
